.about-us {
  background-color: #ffefdf;
  padding: 60px 0px 60px 370px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-us-text {
  max-width: 950px;
  p {
    @include font-properties(800, 40, #8d2114);
    text-transform: uppercase;
  }
}

.about-us-question-modal-button {
  @include font-properties(700, 18, #340600);
  background-color: #ffb734;
  border-radius: 8px;
  padding: 18px 34px;
}

.about-us-media {
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  div {
    p,
    span {
      @include font-properties(800, 50, #340600);
      text-transform: uppercase;
    }
    p {
      color: #8d2114;
    }
  }
}

.about-us-media-icons {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  div {
    max-width: 40px;
  }
}

.footer-informations {
  padding: 20px;
  background-color: #79271b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  p {
    color: var(--project-white);
  }
}

.footer-informations-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 90px;
}

.footer-informations-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-informations-item-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 90px;
}

.footer-informations-item-decoration {
  text-decoration: underline;
  text-decoration-color: var(--project-white);
  color: var(--project-white);
}
