@mixin modal-box-style {
  margin: auto;
  border: 3px solid #79271b;
  border-radius: 10px;
  form {
    display: flex;
    flex-direction: column;
    margin: 70px;
    gap: 30px;
    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      span {
        font-size: 25px;
      }
      input {
        padding: 10px;
        background-color: #79271b;
        border-radius: 8px;
        color: #fdeedf;
      }
      textarea {
        padding: 10px;
        background-color: #79271b;
        border-radius: 8px;
        color: #fdeedf;
      }
    }
  }
}

header {
  nav {
    background-color: #79271b;
    max-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    div {
      img {
        max-height: 80px;
      }
      button {
        color: var(--project-white);
        text-transform: uppercase;
        border: 2px solid var(--project-white);
        border-radius: 8px;
        padding: 5px;
        cursor: pointer;
      }
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 30px;
        li {
          color: var(--project-white);
          font-size: 15px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.nav-section-height {
  max-height: 80px;
}

.contact-us-box {
 @include modal-box-style
}

.contact-us-submit-button {
  display: flex;
  justify-content: end;
  input {
    color: #fdeedf;
    background-color: #340600;
    padding: 10px;
    border-radius: 8px;
    font-size: 25px;
  }
}

.carousel-box {
  position: relative;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel-sections-scroll {
  overflow: hidden;
  max-height: 739px;
}
.carousel-sections {
  display: flex;
  transition: 250ms transform ease-in;
}

.carousel-sections > div {
  border-radius: 24px;
  //   img{
  //     filter: blur(3px);
  //   }
}

.prev-arrow,
.next-arrow {
  z-index: 10;
  position: absolute;
  height: 66px;
  width: 66px;
  margin: 0px 12px;
  background-color: var(--project-white);
  border-radius: 50%;
  cursor: pointer;
  transition: 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-arrow {
  left: 10%;
}
.next-arrow {
  right: 10%;
}

.prev-arrow:hover,
.next-arrow:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.carousel-dots {
  background-color: rgba(51, 6, 0, 0.5);
  height: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 303px;
  gap: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: 100ms background-color ease-in;
  p {
    color: #fdeedf;
    padding: 5px;
  }
  img {
    padding-left: 15px;
  }
}
.carousel-dot.active {
  position: relative;
  background-color: #340600;
  &::before {
    content: "";
    position: absolute;
    top: -22px; /* Настройте позиционирование по вашему желанию */
    left: 50%;
    transform: translateX(-50%);
    width: 26px; /* Ширина SVG */
    height: 24px; /* Высота SVG */
    background-image: url(../../assets/images/caret-up-solid.svg);
    background-size: cover;
  }
}

.inner-text {
  position: absolute;
  top: 287px;
  left: 370px;
  right: 370px;
  p {
    font-weight: bold;
    color: var(--project-white);
    &:first-child {
      font-size: 24px;
    }
    &:last-child {
      font-size: 66px;
    }
  }
}
