main {
  .company-head-information {
    background-color: #fff5ec;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .company-head-picture {
      max-height: 552px;
    }
  }

  .company-head-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      max-width: 677px;
      &:first-child {
        @include font-properties(900, 30, #8d2114);
        font-style: italic;
        max-width: 576px;
      }
      &:nth-child(2) {
        position: relative;
        @include font-properties(400, 18, #340600);
      }
      &:nth-child(3) {
        @include font-properties(700, 18, #8d2114);
      }
      &:nth-child(4) {
        @include font-properties(400, 16, #340600);
        margin-top: -15px;
        opacity: 70%;
      }
    }
  }

  .quote-marks {
    position: absolute;
    opacity: 90%;
    top: -10px;
    right: -20px;
  }

  .ask-your-question-modal-button {
    background-color: #ffb734;
    border-radius: 8px;
    font-size: 18px;
    padding: 18px 34px;
    font-size: 18px;
    font-weight: 700;
  }

  .ask-your-question-box {
    @include modal-box-style;
  }

  .ask-your-question-submit-button {
    display: flex;
    justify-content: end;
    input {
      color: #fdeedf;
      background-color: #340600;
      padding: 10px;
      border-radius: 8px;
      font-size: 25px;
    }
  }
  .information-about-company {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .information-about-company-main-picture {
    height: 550px;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }

  .information-about-company-text {
    position: absolute;
    top: 17%;
    P {
      text-align: center;
      &:first-child {
        @include font-properties(800, 40, var(--project-white));
      }
      &:nth-child(2) {
        @include font-properties(400, 16, var(--project-white));
        max-width: 680px;
      }
      &:last-child {
        @include font-properties(400, 16, var(--project-white));
        margin-top: 200px;
      }
    }
  }
  .information-about-company-interactive {
    display: flex;
    align-items: center;
    justify-content: center;
    .information-about-company-play-button {
      position: relative;
      width: 300px;
      img {
        background-color: rgba(250, 250, 250, 0.2);
        border-radius: 50%;
        left: 50%;
        padding: 10px;
        transform: translateX(-50%);
        width: 128px;
        position: absolute;
        top: 30px;
        cursor: pointer;
      }
    }
  }
  .information-about-company-video-popover {
    .information-about-company-video-box {
      position: fixed;
      background-color: rgba(121, 40, 27, 0.5);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .video-popover-helper {
        position: relative;
        iframe {
          padding: 30px;
          background-color: var(--project-white);
          border-radius: 8px;
        }
        .information-about-company-close-popover-button {
          position: absolute;
          top: -45px;
          right: -45px;
          cursor: pointer;
        }
      }
    }
  }
}

.prev-arrow,
.next-arrow {
  z-index: 10;
  position: absolute;
  height: 66px;
  width: 66px;
  margin: 0px 12px;
  background-color: rgb(219, 219, 219);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.103);
  cursor: pointer;
  transition: 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-arrow:hover,
.next-arrow:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.our-equipment {
  position: relative;
}

.our-equipment-navigation-box {
  background-color: #ffefdf;

  overflow-x: scroll;
  padding-left: 370px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 50px;
}

.our-equipment-navigation-box::-webkit-scrollbar {
  height: 8px;
}

.our-equipment-navigation-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.our-equipment-navigation-box::-webkit-scrollbar-thumb {
  background: #340600;
  border-radius: 10px;
}

.our-equipment-navigation-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.our-equipment-navigation-box {
  scrollbar-width: thin;
  scrollbar-color: #340600 #f1f1f1;
}

.our-equipment-navigation-text {
  @include font-properties(800, 50, #8d2114);
  margin-top: 40px;
}

.our-equipment-navigation {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: 58px;
  gap: 20px;
  align-items: center;
}

.our-equipment-navigation-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  height: 100%;
  border: 1px solid rgba(52, 6, 0, 0.11);
  border-radius: 10px;
  img {
    padding-left: 10px;
    width: 36px;
  }
  p {
    padding: 5px;
    @include font-properties(400, 14, #340600);
  }
}

.our-equipment-navigation-item.active {
  background-color: #340600;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -10px; /* Смещение вниз от блока */
    left: 50px; /* Смещение от левой стороны блока */
    width: 0;
    height: 0;
    border-left: 13px solid transparent; /* Левая часть треугольника */
    border-right: 13px solid transparent; /* Правая часть треугольника */
    border-top: 10px solid #340600;
  }
  p {
    color: var(--project-white);
  }
}

.our-equipment-machine-list {
  display: grid;
  grid-template-columns: repeat(6, 180px);
  gap: 20px;
  background-color: #ffffff;
  margin-left: 370px;
  padding: 20px 0px;
}

.our-equipment-machine-list-item {
  img {
    border-radius: 10px;
  }
  border: 1px solid rgba(52, 6, 0, 0.11);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-equipment-sponsorship-list {
  background-color: #ffefdf;
  display: grid;
  grid-template-columns: repeat(6, 180px);
  padding: 20px 0px 20px 370px;
  gap: 20px;
  align-items: center;
}

.our-equipment-oven-on-the-left-side {
  position: absolute;
  left: 0;
  bottom: 0;
}
//
//
//
//
//
//
//
//
//
//
//
//

.our-events,
.our-projects {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 100px 0px 100px 370px;
  gap: 30px;
}

.butchery-our-events,
.butchery-our-projects {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 100px 0px 100px 0px;
  gap: 30px;
}

.our-projects-title {
  @include font-properties(800, 50, #8d2114);
}

.main-carousel-box {
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease;
  position: relative;
  gap: 20px;
  width: 100%;
}

.main-carousel-arrow {
  transition: all 200ms;
  position: absolute;
  background-color: rgb(219, 219, 219);
  width: 66px;
  height: 66px;
  border-radius: 50%;
  top: 190px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    transform: scale(1.07);
  }
}

.arrow-left {
  left: -33px;
}

.arrow-right {
  left: 1147px;
}

.main-carousel-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 33%;
}

.main-carousel-title {
  @include font-properties(700, 24, #340600);
}

.main-carousel-place {
  @include font-properties(600, 14, #340600);
  opacity: 50%;
}

.main-carousel-hashtag-box,
.main-carousel-date-box  {
  background-color: rgba(52, 6, 0, 0.1);
  border-radius: 16px 16px 16px 0px;
  padding: 6px 18px;
  width: fit-content;
}

.main-carousel-hashtag-box-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.main-carousel-hashtag {
  @include font-properties(600, 14, #340600);
}

.main-carousel-date-box {
  background-color: #8d2114;
}

.main-carousel-date {
  @include font-properties(600, 14, var(--project-white));
}
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

.butchery-main {
  display: flex;
  flex-direction: row;
}

.left-side-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    min-width: 290px;
  }
}

.left-side-navigation-description {
  @include font-properties(700, 24, #79271b);
  padding: 20px 0px 20px 30px;
  text-align: start;
}

.left-side-navigation-items {
  ul {
    display: flex;
    flex-direction: column;
    a {
      li {
        &:hover {
          background-color: #e7e7e7;
        }
        padding: 20px 0px;
        min-width: 290px;
        display: flex;
        flex-direction: row;
        align-items: center;
        div {
          margin-left: 30px;
          display: flex;
          justify-content: center;
          min-width: 50px;
          p {
            @include font-properties(700, 18, #79271b);
          }
        }
      }
    }
  }
}

.information {
  position: relative;
}

.butchery-main-div-introduction-picture {
  max-width: 1630px;
}

.information {
  position: absolute;
  top: 280px;
  left: 370px;
  display: flex;
  flex-direction: column;
  max-width: 640px;
  gap: 30px;
  .information-hashtags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    div {
      p {
        @include font-properties(800, 16, var(--project-white));
        padding: 8px;
        border: 0.6px solid var(--project-white);
        border-radius: 7px 7px 0px 7px;
      }
    }
  }
}

.information-name {
  p {
    @include font-properties(900, 60, var(--project-white));
  }
}

.information-text {
  p {
    @include font-properties(700, 24, var(--project-white));
  }
}

.information-play-button-butchery {
  position: relative;
  img {
    background-color: rgba(250, 250, 250, 0.2);
    border-radius: 50%;
    width: 128px;
    cursor: pointer;
    padding: 10px;
  }
}

.information-butchery-arrow {
  position: absolute;
  width: 140px;
  top: 49%;
  left: 145px;
  cursor: pointer;

  p {
    position: absolute;
    left: 150px;
    top: -10px;
    color: var(--project-white);
    text-wrap: nowrap;
  }
}

.information-butchery-arrow-circle-start,
.information-butchery-arrow-circle-end {
  position: absolute;
  transform: translateY(-50%);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--project-white);
}

.information-butchery-arrow-circle-start {
  left: 0;
}

.information-butchery-arrow-circle-end {
  right: 0;
}

.information-butchery-arrow-segment {
  position: absolute;
  height: 1px;
  width: 140px;
  background-color: var(--project-white);
}

.more-butchery-information {
  display: flex;
  flex-direction: column;
  background-color: #ffefdf;
  p {
    max-width: 1050px;
    gap: 30px;
    margin: 40px 0px 40px 80px;
    &:first-child {
      @include font-properties(800, 30, #340600);
    }
    &:last-child {
      @include font-properties(400, 18, #340600);
    }
  }
}

.solutions-for-business {
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  margin: 50px 0px 0px 80px;

  .toggle-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    cursor: pointer;

    p {
      @include font-properties(600, 24, #340600);
    }

    &:hover {
      background-color: #e7e7e7;
    }

    img {
      width: 45px;
      transition: transform 0.3s ease-out;
    }

    &.open img {
      transform: rotate(180deg);
    }
  }

  .toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    padding: 0;

    p {
      @include font-properties(700, 18, #340600);
    }
  }

  .toggle-content.open {
    max-height: 500px;
    padding: 15px 0px;
  }
}

.solutions-for-business-description {
  @include font-properties(800, 30, #340600);
  margin-bottom: 20px;
}
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

.our-equipment-list {
  margin-left: 80px;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    li {
      max-width: 180px;
      border: 1.5px rgba(52, 6, 0, 0.12) solid;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 10px;
        width: 178px;
        height: 178px;
      }
      p {
        @include font-properties(400, 16, #340600);
        padding: 20px;
      }
    }
  }
}

.our-equipment-list-name {
  @include font-properties(700, 24, #340600);
  margin-bottom: 20px;
}
