@media screen and (max-width: 1555px) {
  .our-equipment-machine-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .our-equipment-oven-on-the-left-side {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    bottom: unset;
  }
  .our-equipment-sponsorship-list {
    grid-template-columns: repeat(6, 1fr);
  }
  .our-equipment-sponsor-logo {
    max-width: 146px;
  }
  .inner-text {
    top: 200px;
  }
}

@media screen and (max-width: 1400px) {
  .our-equipment-oven-on-the-left-side {
    display: none;
  }
  .prev-arrow {
    left: 20px;
  }
  .next-arrow {
    right: 20px;
  }
  .prev-arrow,
  .next-arrow {
    height: 38px;
    width: 38px;
  }

  .our-equipment-machine-list {
    margin: 20px 20px;
  }
  .our-equipment-sponsorship-list {
    padding: 20px 20px;
  }
  .our-equipment-navigation-box {
    padding: 0px 20px 20px 20px;
  }
  .our-equipment-navigation-text {
    margin-top: 20px;
  }
  .inner-text {
    top: 287px;
    left: 120px;
    right: 120px;
    p {
      &:first-child {
        font-size: 24px;
      }
      &:last-child {
        font-size: 50px;
      }
    }
  }


  main {
    .company-head-information {
      justify-content: space-between;
      gap: 0px;
      padding: 0 20px;
      .company-head-picture {
        max-height: 442px;

        img{
          max-height: 442px;

        }
      }
    }
    .company-head-text{
      margin-left: -40px;
      p{
        max-width: 550px;
      }
    }


  }
}