:root {
  --project-black: #1a1a1a;
  --project-white: #fafafa;
}

@mixin font-properties ($weight, $size, $color){
  font-weight: $weight;
  font-size: #{$size}px;
  color: $color;
}

@mixin modal-box-style {
  margin: auto;
  border: 3px solid #79271b;
  border-radius: 10px;
  form {
    display: flex;
    flex-direction: column;
    margin: 70px;
    gap: 30px;
    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      span {
        font-size: 25px;
      }
      input {
        padding: 10px;
        background-color: #79271b;
        border-radius: 8px;
        color: #fdeedf;
      }
      textarea {
        padding: 10px;
        background-color: #79271b;
        border-radius: 8px;
        color: #fdeedf;
      }
    }
  }
}
