@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --project-black: #1a1a1a;
  --project-white: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--project-black);
}

html, body {
  max-width: 1920px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  border: none;
  outline: none;
  background: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

header nav {
  background-color: #79271b;
  max-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header nav div img {
  max-height: 80px;
}
header nav div button {
  color: var(--project-white);
  text-transform: uppercase;
  border: 2px solid var(--project-white);
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}
header nav div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 30px;
}
header nav div ul li {
  color: var(--project-white);
  font-size: 15px;
  text-transform: uppercase;
}

.nav-section-height {
  max-height: 80px;
}

.contact-us-box {
  margin: auto;
  border: 3px solid #79271b;
  border-radius: 10px;
}
.contact-us-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 70px;
  gap: 30px;
}
.contact-us-box form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.contact-us-box form label span {
  font-size: 25px;
}
.contact-us-box form label input {
  padding: 10px;
  background-color: #79271b;
  border-radius: 8px;
  color: #fdeedf;
}
.contact-us-box form label textarea {
  padding: 10px;
  background-color: #79271b;
  border-radius: 8px;
  color: #fdeedf;
}

.contact-us-submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.contact-us-submit-button input {
  color: #fdeedf;
  background-color: #340600;
  padding: 10px;
  border-radius: 8px;
  font-size: 25px;
}

.carousel-box {
  position: relative;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-sections-scroll {
  overflow: hidden;
  max-height: 739px;
}

.carousel-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 250ms -webkit-transform ease-in;
  transition: 250ms -webkit-transform ease-in;
  transition: 250ms transform ease-in;
  transition: 250ms transform ease-in, 250ms -webkit-transform ease-in;
}

.carousel-sections > div {
  border-radius: 24px;
}

.prev-arrow,
.next-arrow {
  z-index: 10;
  position: absolute;
  height: 66px;
  width: 66px;
  margin: 0px 12px;
  background-color: var(--project-white);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 150ms;
  transition: 150ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prev-arrow {
  left: 10%;
}

.next-arrow {
  right: 10%;
}

.prev-arrow:hover,
.next-arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.carousel-dots {
  background-color: rgba(51, 6, 0, 0.5);
  height: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75px;
  width: 303px;
  gap: 5px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: 100ms background-color ease-in;
  transition: 100ms background-color ease-in;
}
.carousel-dot p {
  color: #fdeedf;
  padding: 5px;
}
.carousel-dot img {
  padding-left: 15px;
}

.carousel-dot.active {
  position: relative;
  background-color: #340600;
}
.carousel-dot.active::before {
  content: "";
  position: absolute;
  top: -22px; /* Настройте позиционирование по вашему желанию */
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px; /* Ширина SVG */
  height: 24px; /* Высота SVG */
  background-image: url(../../assets/images/caret-up-solid.svg);
  background-size: cover;
}

.inner-text {
  position: absolute;
  top: 287px;
  left: 370px;
  right: 370px;
}
.inner-text p {
  font-weight: bold;
  color: var(--project-white);
}
.inner-text p:first-child {
  font-size: 24px;
}
.inner-text p:last-child {
  font-size: 66px;
}

main .company-head-information {
  background-color: #fff5ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
main .company-head-information .company-head-picture {
  max-height: 552px;
}
main .company-head-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
main .company-head-text p {
  max-width: 677px;
}
main .company-head-text p:first-child {
  font-size: 30px;
  color: #8d2114;
  font-weight: 900;
  font-style: italic;
  max-width: 576px;
}
main .company-head-text p:nth-child(2) {
  position: relative;
  font-size: 18px;
  color: #340600;
  font-weight: 400;
}
main .company-head-text p:nth-child(3) {
  font-size: 18px;
  color: #8d2114;
  font-weight: 700;
}
main .company-head-text p:nth-child(4) {
  margin-top: -15px;
  font-size: 16px;
  color: #340600;
  opacity: 70%;
  font-weight: 400;
}
main .quote-marks {
  position: absolute;
  opacity: 90%;
  top: -10px;
  right: -20px;
}
main .ask-your-question-modal-button {
  background-color: #ffb734;
  border-radius: 8px;
  font-size: 18px;
  padding: 18px 34px;
}
main .ask-your-question-box {
  margin: auto;
  border: 3px solid #79271b;
  border-radius: 10px;
}
main .ask-your-question-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 70px;
  gap: 30px;
}
main .ask-your-question-box form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
main .ask-your-question-box form label span {
  font-size: 25px;
}
main .ask-your-question-box form label input {
  padding: 10px;
  background-color: #79271b;
  border-radius: 8px;
  color: #fdeedf;
}
main .ask-your-question-box form label textarea {
  padding: 10px;
  background-color: #79271b;
  border-radius: 8px;
  color: #fdeedf;
}
main .ask-your-question-submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
main .ask-your-question-submit-button input {
  color: #fdeedf;
  background-color: #340600;
  padding: 10px;
  border-radius: 8px;
  font-size: 25px;
}
main .information-about-company {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .information-about-company-text {
  position: absolute;
  top: 19%;
}
main .information-about-company-text P {
  color: var(--project-white);
  text-align: center;
}
main .information-about-company-text P:first-child {
  font-weight: 800;
  font-size: 50px;
}
main .information-about-company-text P:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  max-width: 680px;
}
main .information-about-company-text P:last-child {
  font-weight: 400;
  font-size: 16px;
  margin-top: 200px;
}
main .information-about-company-interactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .information-about-company-interactive .information-about-company-play-button {
  position: relative;
  width: 300px;
}
main .information-about-company-interactive .information-about-company-play-button img {
  background-color: rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  left: 50%;
  padding: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 128px;
  position: absolute;
  top: 30px;
  cursor: pointer;
}
main .information-about-company-video-popover {
  margin: auto;
}
main .information-about-company-video-popover .information-about-company-video-box {
  position: fixed;
  background-color: rgba(121, 40, 27, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .information-about-company-video-popover .information-about-company-video-box .video-popover-helper {
  position: relative;
}
main .information-about-company-video-popover .information-about-company-video-box .video-popover-helper iframe {
  padding: 30px;
  background-color: var(--project-white);
  border-radius: 8px;
}
main .information-about-company-video-popover .information-about-company-video-box .video-popover-helper .information-about-company-close-popover-button {
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}
main .our-projects {
  margin-left: 370px;
}
main .our-projects p:first-child {
  margin: 140px 0px 20px 0px;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  color: #8d2114;
}
main .our-projects .carousel-2 {
  position: relative;
}
main .our-projects .carousel-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  gap: 30px;
}
main .our-projects .carousel-2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
main .our-projects .our-projects-text-description {
  font-size: 24px;
  font-weight: 700;
  color: #340600;
}
main .our-projects .our-projects-news-location {
  color: #340600;
  opacity: 50%;
  font-size: 14px;
  font-weight: 500;
}
main .our-projects .our-projects-news-hashtag {
  color: #340600;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(52, 6, 0, 0.1);
  padding: 5px 17px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 16px 16px 16px 0px;
}
main .our-projects .our-projects-news-hashtag-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
main .our-projects .carousel-2 img {
  max-width: 380px; /* Максимальная ширина элемента */
  max-height: 280px;
}
main .our-projects .nav-button {
  position: absolute;
  height: 66px;
  width: 66px;
  margin: 0px 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  position: absolute;
  top: 140px;
  background-color: var(--project-white);
  border: none;
  cursor: pointer;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .our-projects .nav-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
main .our-projects .prev {
  left: -44px;
}
main .our-projects .next {
  right: 0px;
}

.prev-arrow,
.next-arrow {
  z-index: 10;
  position: absolute;
  height: 66px;
  width: 66px;
  margin: 0px 12px;
  background-color: var(--project-white);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.103);
  cursor: pointer;
  -webkit-transition: 150ms;
  transition: 150ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prev-arrow {
  left: 10%;
}

.next-arrow {
  right: 10%;
}

.prev-arrow:hover,
.next-arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}