@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --project-black: #1a1a1a;
  --project-white: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--project-black);
}

html, body {
  max-width: 1920px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  border: none;
  outline: none;
  background: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

header nav {
  background-color: #79271b;
  max-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header nav div img {
  max-height: 80px;
}
header nav div button {
  color: var(--project-white);
  text-transform: uppercase;
  border: 2px solid var(--project-white);
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}
header nav div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 30px;
}
header nav div ul li {
  color: var(--project-white);
  font-size: 15px;
  text-transform: uppercase;
}

.nav-section-height {
  max-height: 80px;
}

.contact-us-box {
  margin: auto;
  border: 3px solid #79271b;
  border-radius: 10px;
}
.contact-us-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 70px;
  gap: 30px;
}
.contact-us-box form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.contact-us-box form label span {
  font-size: 25px;
}
.contact-us-box form label input {
  padding: 10px;
  background-color: #79271b;
  border-radius: 8px;
  color: #fdeedf;
}
.contact-us-box form label textarea {
  padding: 10px;
  background-color: #79271b;
  border-radius: 8px;
  color: #fdeedf;
}

.contact-us-submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.contact-us-submit-button input {
  color: #fdeedf;
  background-color: #340600;
  padding: 10px;
  border-radius: 8px;
  font-size: 25px;
}

.carousel-box {
  position: relative;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-sections-scroll {
  overflow: hidden;
  max-height: 739px;
}

.carousel-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 250ms -webkit-transform ease-in;
  transition: 250ms -webkit-transform ease-in;
  transition: 250ms transform ease-in;
  transition: 250ms transform ease-in, 250ms -webkit-transform ease-in;
}

.carousel-section-pictur {
  -o-object-fit: none;
     object-fit: none;
}

.carousel-sections > div {
  border-radius: 24px;
}

.prev-arrow,
.next-arrow {
  z-index: 10;
  position: absolute;
  height: 66px;
  width: 66px;
  margin: 0px 12px;
  background-color: var(--project-white);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 150ms;
  transition: 150ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prev-arrow {
  left: 10%;
}

.next-arrow {
  right: 10%;
}

.prev-arrow:hover,
.next-arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.carousel-dots {
  background-color: rgba(51, 6, 0, 0.5);
  height: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75px;
  width: 303px;
  gap: 5px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: 100ms background-color ease-in;
  transition: 100ms background-color ease-in;
}
.carousel-dot p {
  color: #fdeedf;
  padding: 5px;
}
.carousel-dot img {
  padding-left: 15px;
}

.carousel-dot.active {
  position: relative;
  background-color: #340600;
}
.carousel-dot.active::before {
  content: "";
  position: absolute;
  top: -22px; /* Настройте позиционирование по вашему желанию */
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px; /* Ширина SVG */
  height: 24px; /* Высота SVG */
  background-image: url(../../assets/images/caret-up-solid.svg);
  background-size: cover;
}

.inner-text {
  position: absolute;
  top: 287px;
  left: 370px;
  right: 370px;
}
.inner-text p {
  font-weight: bold;
  color: var(--project-white);
}
.inner-text p:first-child {
  font-size: 24px;
}
.inner-text p:last-child {
  font-size: 66px;
}

main .company-head-information {
  background-color: #fff5ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
main .company-head-information .company-head-picture {
  max-height: 552px;
}
main .company-head-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
main .company-head-text p {
  max-width: 677px;
}
main .company-head-text p:first-child {
  font-size: 30px;
  color: #8d2114;
  font-weight: 900;
  font-style: italic;
  max-width: 576px;
}
main .company-head-text p:nth-child(2) {
  position: relative;
  font-size: 18px;
  color: #340600;
  font-weight: 400;
}
main .company-head-text p:nth-child(3) {
  font-size: 18px;
  color: #8d2114;
  font-weight: 700;
}
main .company-head-text p:nth-child(4) {
  margin-top: -15px;
  font-size: 16px;
  color: #340600;
  opacity: 70%;
  font-weight: 400;
}
main .quote-marks {
  position: absolute;
  opacity: 90%;
  top: -10px;
  right: -20px;
}
main .ask-your-question-modal-button {
  background-color: #ffb734;
  border-radius: 8px;
  font-size: 18px;
  padding: 18px 34px;
  font-size: 18px;
  font-weight: 700;
}
main .ask-your-question-box {
  margin: auto;
  border: 3px solid #79271b;
  border-radius: 10px;
}
main .ask-your-question-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 70px;
  gap: 30px;
}
main .ask-your-question-box form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
main .ask-your-question-box form label span {
  font-size: 25px;
}
main .ask-your-question-box form label input {
  padding: 10px;
  background-color: #79271b;
  border-radius: 8px;
  color: #fdeedf;
}
main .ask-your-question-box form label textarea {
  padding: 10px;
  background-color: #79271b;
  border-radius: 8px;
  color: #fdeedf;
}
main .ask-your-question-submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
main .ask-your-question-submit-button input {
  color: #fdeedf;
  background-color: #340600;
  padding: 10px;
  border-radius: 8px;
  font-size: 25px;
}
main .information-about-company {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .information-about-company-main-picture {
  width: 100%;
}
main .information-about-company-text {
  position: absolute;
  top: 19%;
}
main .information-about-company-text P {
  color: var(--project-white);
  text-align: center;
}
main .information-about-company-text P:first-child {
  font-weight: 800;
  font-size: 50px;
}
main .information-about-company-text P:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  max-width: 680px;
}
main .information-about-company-text P:last-child {
  font-weight: 400;
  font-size: 16px;
  margin-top: 200px;
}
main .information-about-company-interactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .information-about-company-interactive .information-about-company-play-button {
  position: relative;
  width: 300px;
}
main .information-about-company-interactive .information-about-company-play-button img {
  background-color: rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  left: 50%;
  padding: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 128px;
  position: absolute;
  top: 30px;
  cursor: pointer;
}
main .information-about-company-video-popover {
  margin: auto;
}
main .information-about-company-video-popover .information-about-company-video-box {
  position: fixed;
  background-color: rgba(121, 40, 27, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .information-about-company-video-popover .information-about-company-video-box .video-popover-helper {
  position: relative;
}
main .information-about-company-video-popover .information-about-company-video-box .video-popover-helper iframe {
  padding: 30px;
  background-color: var(--project-white);
  border-radius: 8px;
}
main .information-about-company-video-popover .information-about-company-video-box .video-popover-helper .information-about-company-close-popover-button {
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}
main .our-projects {
  margin-left: 370px;
  padding-bottom: 200px;
}
main .our-projects p:first-child {
  margin: 140px 0px 20px 0px;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  color: #8d2114;
}
main .our-projects .carousel-2 {
  position: relative;
}
main .our-projects .carousel-2 .carousel-2-hidden {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
main .our-projects .carousel-2 .carousel-2-hidden ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  gap: 30px;
}
main .our-projects .carousel-2 .carousel-2-hidden ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
main .our-projects .our-projects-text-description {
  font-size: 24px;
  font-weight: 700;
  color: #340600;
}
main .our-projects .our-projects-news-location {
  color: #340600;
  opacity: 50%;
  font-size: 14px;
  font-weight: 500;
}
main .our-projects .our-projects-news-hashtag {
  color: #340600;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(52, 6, 0, 0.1);
  padding: 5px 17px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 16px 16px 16px 0px;
}
main .our-projects .our-projects-news-hashtag-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
main .our-projects .carousel-2 img {
  max-width: 380px;
  max-height: 280px;
}
main .our-projects .nav-button {
  position: absolute;
  height: 66px;
  width: 66px;
  margin: 0px 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  position: absolute;
  top: 140px;
  background-color: var(--project-white);
  border: none;
  cursor: pointer;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .our-projects .nav-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
main .our-projects .prev {
  left: -44px;
}
main .our-projects .next {
  right: 60px;
}

.prev-arrow,
.next-arrow {
  z-index: 10;
  position: absolute;
  height: 66px;
  width: 66px;
  margin: 0px 12px;
  background-color: rgb(219, 219, 219);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.103);
  cursor: pointer;
  -webkit-transition: 150ms;
  transition: 150ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prev-arrow {
  left: 10%;
}

.next-arrow {
  right: 10%;
}

.prev-arrow:hover,
.next-arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.our-equipment {
  position: relative;
}

.our-equipment-navigation-box {
  background-color: #ffefdf;
  overflow-x: scroll;
  padding-left: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  padding-bottom: 50px;
}

.our-equipment-navigation-box::-webkit-scrollbar {
  height: 8px;
}

.our-equipment-navigation-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.our-equipment-navigation-box::-webkit-scrollbar-thumb {
  background: #340600;
  border-radius: 10px;
}

.our-equipment-navigation-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.our-equipment-navigation-box {
  scrollbar-width: thin;
  scrollbar-color: #340600 #f1f1f1;
}

.our-equipment-navigation-text {
  font-size: 50px;
  font-weight: 800;
  color: #8d2114;
  margin-top: 40px;
}

.our-equipment-navigation {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: 58px;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-equipment-navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  background-color: transparent;
  height: 100%;
  border: 1px solid rgba(52, 6, 0, 0.11);
  border-radius: 10px;
}
.our-equipment-navigation-item img {
  padding-left: 10px;
  width: 36px;
}
.our-equipment-navigation-item p {
  padding: 5px;
  color: #340600;
  font-size: 14px;
  font-weight: 400;
}

.our-equipment-navigation-item.active {
  background-color: #340600;
  position: relative;
}
.our-equipment-navigation-item.active::before {
  content: "";
  position: absolute;
  bottom: -10px; /* Смещение вниз от блока */
  left: 50px; /* Смещение от левой стороны блока */
  width: 0;
  height: 0;
  border-left: 13px solid transparent; /* Левая часть треугольника */
  border-right: 13px solid transparent; /* Правая часть треугольника */
  border-top: 10px solid #340600;
}
.our-equipment-navigation-item.active p {
  color: var(--project-white);
}

.our-equipment-machine-list {
  display: grid;
  grid-template-columns: repeat(6, 180px);
  gap: 20px;
  background-color: #ffffff;
  margin-left: 370px;
  padding: 20px 0px;
}

.our-equipment-machine-list-item {
  border: 1px solid rgba(52, 6, 0, 0.11);
  border-radius: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-equipment-machine-list-item img {
  border-radius: 10px;
}

.our-equipment-sponsorship-list {
  background-color: #ffefdf;
  display: grid;
  grid-template-columns: repeat(6, 180px);
  padding: 20px 0px 20px 370px;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-equipment-oven-on-the-left-side {
  position: absolute;
  left: 0;
  bottom: 0px;
}

.our-events {
  margin-left: 370px;
  padding-bottom: 200px;
}
.our-events p:first-child {
  margin: 140px 0px 20px 0px;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  color: #8d2114;
}
.our-events .carousel-3 {
  position: relative;
}
.our-events .carousel-3 .carousel-3-hidden {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.our-events .carousel-3 .carousel-3-hidden ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  gap: 30px;
}
.our-events .carousel-3 .carousel-3-hidden ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.our-events .carousel-3 img {
  max-width: 380px;
  max-height: 280px;
}
.our-events .carousel-3 .nav-button {
  position: absolute;
  height: 66px;
  width: 66px;
  margin: 0px 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--project-white);
  border: none;
  cursor: pointer;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-events .carousel-3 .prev-2 {
  left: -44px;
  top: 140px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.our-events .carousel-3 .next-2 {
  right: 60px;
  top: 140px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.our-events .our-events-text-description {
  font-size: 24px;
  font-weight: 700;
  color: #340600;
}
.our-events .our-events-news-location {
  color: #340600;
  opacity: 50%;
  font-size: 14px;
  font-weight: 500;
}
.our-events .our-events-news-hashtag {
  color: var(--project-white);
  font-size: 14px;
  font-weight: 600;
  background-color: #8d2114;
  padding: 5px 17px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 16px 16px 16px 0px;
}
.our-events .our-events-news-hashtag-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
.our-events .prev-arrow,
.our-events .next-arrow {
  z-index: 10;
  position: absolute;
  height: 66px;
  width: 66px;
  margin: 0px 12px;
  background-color: rgb(219, 219, 219);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.103);
  cursor: pointer;
  -webkit-transition: 150ms;
  transition: 150ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-events .prev-arrow {
  left: 10%;
}
.our-events .next-arrow {
  right: 10%;
}
.our-events .prev-arrow:hover,
.our-events .next-arrow:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.butchery-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.left-side-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.left-side-navigation div {
  min-width: 290px;
}

.left-side-navigation-description {
  padding: 20px 0px 20px 30px;
  text-align: start;
  font-size: 24px;
  font-weight: 700;
  color: #79271b;
}

.left-side-navigation-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.left-side-navigation-items ul a li {
  padding: 20px 0px;
  min-width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.left-side-navigation-items ul a li:hover {
  background-color: #e7e7e7;
}
.left-side-navigation-items ul a li div {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 50px;
}
.left-side-navigation-items ul a li div p {
  font-size: 18px;
  color: #79271b;
  font-weight: 700;
}

.butchery-main-div {
  width: 100%;
}

.information {
  position: relative;
}

.information {
  position: absolute;
  top: 280px;
  left: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 640px;
  gap: 30px;
}
.information .information-hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.information .information-hashtags div p {
  font-size: 16px;
  color: var(--project-white);
  font-weight: 800;
  padding: 8px;
  border: 0.6px solid var(--project-white);
  border-radius: 7px 7px 0px 7px;
}

.information-name p {
  font-size: 60px;
  font-weight: 900;
  color: var(--project-white);
}

.information-text p {
  font-size: 24px;
  font-weight: 700;
  color: var(--project-white);
}

.information-play-button-butchery {
  position: relative;
}
.information-play-button-butchery img {
  background-color: rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  width: 128px;
  cursor: pointer;
  padding: 10px;
}

.information-butchery-arrow {
  position: absolute;
  width: 140px;
  top: 49%;
  left: 145px;
}
.information-butchery-arrow p {
  position: absolute;
  left: 150px;
  top: -10px;
  color: var(--project-white);
  text-wrap: nowrap;
}

.information-butchery-arrow-circle-start,
.information-butchery-arrow-circle-end {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--project-white);
}

.information-butchery-arrow-circle-start {
  left: 0;
}

.information-butchery-arrow-circle-end {
  right: 0;
}

.information-butchery-arrow-segment {
  position: absolute;
  height: 1px;
  width: 140px;
  background-color: var(--project-white);
}

.more-butchery-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffefdf;
}
.more-butchery-information p {
  max-width: 1050px;
  gap: 30px;
  margin: 40px 0px 40px 80px;
}
.more-butchery-information p:first-child {
  color: #340600;
  font-size: 30px;
  font-weight: 800;
}
.more-butchery-information p:last-child {
  color: #340600;
  font-size: 18px;
  font-weight: 400;
}

.solutions-for-business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1180px;
  margin: 50px 0px 0px 80px;
}
.solutions-for-business .toggle-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0px;
  cursor: pointer;
}
.solutions-for-business .toggle-section p {
  font-size: 24px;
  font-weight: 600;
  color: #340600;
}
.solutions-for-business .toggle-section:hover {
  background-color: #e7e7e7;
}
.solutions-for-business .toggle-section img {
  width: 45px;
}
.solutions-for-business .toggle-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0;
}
.solutions-for-business .toggle-content p {
  font-size: 18px;
  color: #340600;
}
.solutions-for-business .toggle-content.open {
  max-height: 500px;
  padding: 15px 0px;
}

.solutions-for-business-description {
  font-size: 30px;
  font-weight: 800;
  color: #340600;
  margin-bottom: 20px;
}

.about-us {
  background-color: #ffefdf;
  padding: 60px 0px 60px 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.about-us-text {
  max-width: 950px;
}
.about-us-text p {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  color: #8d2114;
}

.about-us-question-modal-button {
  background-color: #ffb734;
  border-radius: 8px;
  font-size: 18px;
  padding: 18px 34px;
  font-size: 18px;
  font-weight: 700;
}

.about-us-media {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-us-media div p,
.about-us-media div span {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  color: #340600;
}
.about-us-media div p {
  color: #8d2114;
}

.about-us-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-us-media-icons div {
  max-width: 40px;
}

.footer-informations {
  padding: 20px;
  background-color: #79271b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer-informations p {
  color: var(--project-white);
}

.footer-informations-aling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 90px;
}

.footer-informations-text-decoration {
  text-decoration: underline;
  text-decoration-color: var(--project-white);
}